/* =========================
   Layout (structure)
========================= */

.container {
  width: min(var(--max-width), calc(100% - (var(--space-6) * 2)));
  margin-inline: auto;
}

/* Header layout */
header .container {
  padding-block: var(--space-5);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: var(--space-5);
}

/* Hero layout */
.hero {
  padding-block: var(--space-8);
}

.hero-content {
  width: min(var(--max-width), 100%);
}

.hero-subheading {
  font-size: var(--fs-1);
  margin-top: var(--space-4);
  margin-bottom: var(--space-5);
}
